# General
aiogram

# DBs
pydantic[dotenv]
redis
aioredis
pymongo
motor
dnspython # needed to connect to cloud MongoDB instances
odmantic # MongoDB ORM

# Optional deps to make bot faster
aiohttp[speedups]
cryptography
ujson
orjson

# Logs
coloredlogs
loguru

# Optional
telethon
sentry_sdk

# Regex
async-timeout
regex

# Other
PyYaml
aiocron
apscheduler
babel
captcha

stf==1.0
