# General
#telethon
telethon~=1.17.0
aiogram

# DBs
redis
aioredis # Redis memery storage fom aiogram
pymongo
motor
dnspython # needed to connect to cloud MongoDB instances
odmantic # MongoDB ORM

# Optional deps to make bot faster
aiohttp[speedups]
cryptg
cryptography

# Other
orjson
python-dotenv
envparse
hypercorn
aiocron
apscheduler
requests
ujson
coloredlogs
loguru
sentry_sdk
babel
captcha
async-timeout
regex
