# Basic
TOKEN=
OWNER_ID=483808054
OPERATORS=

REDIS_URI=localhost
REDIS_PORT=6379
REDIS_DB_FSM=1

MONGO_URI=localhost
MONGO_PORT=27017
MONGO_DB=sophie

APP_ID=***REMOVED***
APP_HASH=***REMOVED***

# Advanced
DEBUG_MODE=False
LOAD=
DONT_LOAD=
LOAD_MODULES=True
SENTRY_API_KEY=

ALLOW_FORWARDS_COMMANDS=False
ALLOW_COMMANDS_WITH_!=False
DISALLOW_MONO_CMDS=True

JOIN_CONFIRM_DURATION=